/* General reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #c9b9b9;
  color: #333;
  height: 100%;
}

/* Flex layout: sidebar + content */
.app-container {
  display: flex;
  min-height: 100vh;
  
}

/* Sidebar */
.sidebar {
  padding: 30px;
  width: 200px;
  background-color: #8b4f1e;
  color: #d3baa6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}


.logo {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

/* Menu buttons */
.menu button {
  background: none;
  color: #d3baa6;
  border: none;
  padding: 12px;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 10px;
}

.dark-mode-btn {
  margin-top: auto;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
  color: #a29898;
}

.menu button:hover {
  background-color: #c59348;
}

.menu button.active {
  background-color: #c59348;
  color: #d9cdba;
}


/* Content area */
.content {
  flex: 1;
  padding: 70px;
  background-color: #e4ddd8;
}

.content h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
}

.content ul {
  list-style-type: none;
  padding-left: 20;
}

.content li {
  margin-bottom: 10px;
}

/* Dark mode for the whole page */
body.dark {
  background-color: #181838; /* optional for outside content */
  color: #fff;
}

/* Sidebar stays dark */
body.dark .sidebar {
  background-color: #12162b;
  color: #d3d2e2;
}

/* Content area in dark mode */
body.dark .content {
  background-color: #0b1736; /* dark blue background */
  color: #adabb8; /* light text */
}

/* Menu buttons in dark mode */
body.dark .menu button {
  color: #ccc;
}

body.dark .menu button.active {
  background-color: #1f2a6d;
  color: #d2ceda;
}

body.dark .menu button:hover {
  background-color: #1f2a6d;
}

/* download CV button */
.download-cv-btn {
  border: none;
  background: none;
  color: #b05002;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: auto;
}