/* Basic Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.top-nav {
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav li {
  margin: 0 15px;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}

.top-nav a:hover {
  background-color: #575757;
}

.content {
  padding: 80px 20px; /* Give space for the fixed menu */
}

.section {
  display: none;
}

.section:not(.hidden) {
  display: block;
}

.top-nav a.active {
  background-color: #0c8e9a;
}
