div {
  font-family: Georgia;
  font-size: medium;

}

header {
  padding: 1rem 2rem;
  background: whitesmoke;
  font-size: x-large;
  box-shadow: 0 2px 8px rgb(237, 230, 230);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.logoImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid snow;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}


.nav-links a{
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active {
  background: rgb(216, 214, 214);
  font-weight: bold;
  padding: 5px 10p;
  
}

.nav-links a:hover {
  background: rgb(231, 229, 229);
  transition: 0.2s;
}

/* respnsive */
@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-links {
    gap: 0.5rem;
  }
}