
header {
  padding: 1rem 2rem;
  background: whitesmoke;
  font-size: x-large;
  box-shadow: 0 2px 8px rgb(237, 230, 230);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.7rem;
  font-weight: 700;
}

.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid snow;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


.nav-links a{
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active {
  background: rgb(216, 214, 214);
  font-weight: bold;
  padding: 5px 10p;
  
}

.nav-links a:hover {
  background: rgb(231, 229, 229);
  transition: 0.2s;
}

/* respnsive */
@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-links {
    gap: 0.5rem;
  }
}

.theme-toggle {
  background: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 1px solid rgb(196, 178, 178);
  border-radius: 6px;
  cursor: pointer;
}


body.dark-mode {
  background-color: #1f1e1e;
  color: rgb(215, 205, 205);
}

body.dark-mode header {
  background-color: #1f1e1e;
  color: #d7cdcd;
  padding: 1rem 2rem;
  font-size: x-large;
  box-shadow: 0 2px 8px rgb(115, 107, 107);
}

body.dark-mode .nav-links a {
  color: #d7cdcd;
}

body.dark-mode .nav-links a.active {
  background: #5a5656;
}

body.dark-mode .nav-links a:hover {
  background: #5a5656;
}