/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: Georgia;
}

html, body {
  font-family: sans-serif;
  color: #222;
  line-height: 1.6;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.content p {
  margin-bottom: 1rem;
  line-height: 1.7;
  font-size:  1.2rem;
}

footer {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  text-align: left;
  position-anchor: bottom;
}